
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">

	<display-name>sentiment</display-name>
	<description>sentiment</description>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>

	<!-- Spring configuration -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/META-INF/applicationContext.xml</param-value>
	</context-param>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error500.json</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error404.json</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error500.json</location>
	</error-page>

</web-app>
